ul {
    list-style-type: none;
    margin-left: 20vw;
    overflow: hidden;
    background-color: white;
    size: 100vw;
}

li {
    float:left;
    margin-right: 7vw;
}

li a {
    display: block;
    color: #000000;
    font-size: 16px;
    font-family: "Arial Hebrew";
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(74, 204, 7, 0.87);
    padding: 12px 16px;
    border-radius: 2px;
    width: 100%;
}

.active {
    background-color: rgba(74, 204, 7, 0.87);
    padding: 12px 16px;
    border-radius: 2px;
    width: 100%;
}




hr{
    width:70%;
    border: 1px solid #79da02;
    size: 15vw;
    align-items: center;
    margin-top: 3vw;
}

h1{
    font-family: cursive;
    font-size: 2vw;
    float: left;
}

img {
    margin-top: 4%;
    color: #000000;
    filter:  blur(8px);
}


.centered {
    position: absolute;
    font-family: "Corsiva Hebrew";
    top: 35%;
    left: 14%;
    font-size: 200%;
    transform: translate(-50%, -50%);
    color: white;
}
pre{
    position: absolute;
    top: 40%;
    left: 7%;
    color: #ffffff;
    box-shadow: black;
    font-size: 80%;
    font-family: "Arial Hebrew";
}
.text-block {
    position: absolute;
    top: 30%;
    left: 5%;
    background-color: black;
    color: white;
    padding-bottom: 30%;
    padding-left: 30%;
    padding-right: 15%;
    border-radius: 2%;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

